---
services:
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./wrangler.toml:/usr/src/app/wrangler.toml:ro
      - ./src/config.js:/usr/src/app/src/config.js:ro
      - ./config.capnp:/usr/src/app/config.capnp
    restart: unless-stopped
  nginx:
    image: nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    ports:
      - 0.0.0.0:443:443
